/entrenamiento/nbproject/private/
/entrenamiento/build/
/clase3/nbproject/private/
/clase3/build/
/operaciones_aritmeticas/nbproject/private/
/operaciones_aritmeticas/build/
/seleccionar_opertacion_aritmetica/nbproject/private/
/seleccionar_opertacion_aritmetica/build/
/juego_taller/nbproject/private/
/practica_if/nbproject/private/
/practica_if/build/
/mostrar_pares_for/nbproject/private/
/mostrar_pares_for/build/